.navigation {
  background-color: #666;
  background-image: none;
}

a {
  overflow: hidden;
}

a .image {
  transition: .3s ease all;
  opacity: 1;
}

a:hover .image {
  transform: scale(1.2);
  opacity: 0.8;
}

.bg-blue {
  background-color: #666;
  position: relative;
}

footer,
.sell {
  /*hide gochowdown credits*/
  display: none;
}

img {
  display: block;
  max-height: 80vh;
  width: auto;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color:#111;
    color: #eee;
  }
}
