<style class="critical">
  {{- $cssOpts := (dict "targetPath" "css/app.css" "outputStyle" "compressed" "enableSourceMap" false ) -}}
  {{- with resources.Get "scss/shopping-list.scss" | resources.ExecuteAsTemplate "shopping-list.css" . | toCSS $cssOpts | postCSS | minify -}}
    {{ .Content | safeCSS }}
  {{- end -}}
</style>

<div class="shopping-list">
  <div class="recipes">
    <h3>Rezepte</h3>
    {{ range where .Site.Pages "Section" "recipes" }}
    <ul class="unstyled-list">
      {{ range .Pages.ByWeight.ByTitle }}
        <li>
          <input type="checkbox" id="{{.File.ContentBaseName}}" />
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>

  <div class="ingredients">
    <h3>Zutaten</h3>
  </div>
</div>

<script type="text/javascript">
  window.document.body["ingredients"] = {
  {{ range where .Site.Pages "Section" "recipes" -}}
    {{ range .Pages.ByWeight.ByTitle -}}
      "{{.File.ContentBaseName}}": [
        {{ range .Params.Components -}}
          {{ range where $.Site.Pages "Title" . -}}
            {{ range .Params.ingredients -}}
              "{{ . }}",
            {{ end }}
          {{- end }}
        {{- end -}}
        {{ range .Params.ingredients -}}
          "{{ . }}",
        {{ end }}
      ],
    {{- end}}
  {{- end}}
  };
</script>

{{ with resources.Get "ts/shopping-list.ts" | js.Build | minify }}
  <script>{{ .Content | safeJS }}</script>
{{ end }}
